<div style="text-align:right">
  <button class="btn btn-success btn-sm" disabled>
    <span class="glyphicon glyphicon-cloud-download"></span> {{"Publish"|translate}}</a>
  <button type="submit" class="btn btn-success btn-sm" onclick="window.print();">
    <span class="glyphicon glyphicon-print"></span> {{"Print"|translate}}</button>
</div>

<tabset>
  <tab heading="{{'National'|translate}}">
  </tab>

  <!-- FIXME: controller does not belong here. Adopt: https://stackoverflow.com/a/21019370 -->
  <tab heading="{{'Regional'|translate}}">
  </tab>
</tabset>
