<div class="container">

    <div style="text-align:right">
      <button type="submit" class="btn btn-success btn-sm no-print" onclick="window.print();">
        <span class="glyphicon glyphicon-print"></span> {{"Print"|translate}}</button>
    </div>

    <tabset>
        <tab heading="{{'National'|translate}}" ng-controller="NationalDashboardCtrl" active="dashTabs.national.active" select="refreshView()">
            <ng-include src="'views/national_dashboard.html'"></ng-include>
        </tab>

        <!-- FIXME: controller does not belong here. Adopt: https://stackoverflow.com/a/21019370 -->
        <tab heading="{{'Primary'|translate}}" select="initView()" ng-controller="PrimaryDashboardCtrl" active="dashTabs.primary.active">
           <ng-include src="'views/primary_dashboard.html'"></ng-include>
        </tab>

        <!-- FIXME: controller does not belong here. Adopt: https://stackoverflow.com/a/21019370 -->
        <tab heading="{{'Secondary'|translate}}" select="initView()" ng-controller="SecondaryDashboardCtrl" active="dashTabs.secondary.active">
            <ng-include src="'views/secondary_dashboard.html'"></ng-include>
        </tab>

    </tabset>

</div>
