<div class="row">

    <div class="col-md-8 col-sm-8 col-md-push-4 map-container">
        <div id="poiMap"></div>
    </div>

    <div class="col-md-4 col-sm-4 col-md-pull-8 map-list-container">
        <div class="left-panel">
            <div class="panel panel-default">
                <div class="panel-heading"><strong class="panel-title" translate>Filter</strong></div>
                <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-xs-9">
                            <input type="search" id="search" class="form-control input-sm" ng-model="where.search" placeholder="Search for school...">
                        </div>
                        <button class="col-xs-2 btn btn-primary btn-sm" ng-click="updateMap()" translate><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3" for="region"><small translate>Type</small></label>
                        <div class="col-lg-9">
                            <select class="form-control input-sm" id="type" ng-model="where.school_type" ng-change="updateMap()"
                                    ng-options="type for type in schoolTypes">
                                <option value="">all</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3" for="region"><small translate>Region</small></label>
                        <div class="col-lg-9">
                            <select class="form-control input-sm" id="region" ng-model="where.region" ng-change="clearDistrict();updateMap()"
                                    ng-options="r for r in regions">
                                <option value="">all</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3" for="district" translate><small translate>District</small></label>
                        <div class="col-lg-9">
                            <select class="form-control input-sm" id="district" ng-model="where.district" ng-change="updateMap()"
                                ng-options="d for d in districts">
                          <option value="">all</option>
                        </select>
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3" for="maxResults" translate><small>Ownership</small></label>
                        <div class="col-lg-9">
                            <select class="form-control input-sm" id="ownership" ng-model="where.ownership" ng-change="updateMap()"
                                    ng-options="o for o in ownerships">
                                <option value="">all</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-default btn-xs" ng-click="download()">
                        <i class="glyphicon glyphicon-download"></i> <span translate>Download</span>
                    </button>
                    <button class="btn btn-warning btn-xs" ng-click="reset()">
                        <i class="glyphicon glyphicon-refresh"></i> <span translate>Refresh</span>
                    </button>
                    <small ng-if="count >= 0" class="text-muted" translate>{{ count }} schools found</small>
                </form>
              </div>
            </div>
            <div ng-repeat="result in results.slice(0,100)" class="results-item" ng-mouseover="openPopup(result._id)" ng-mouseout="closePopup(result._id)">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-sm-9">
									<a ng-href="#/schools/{{ result._id }}" class="text-uppercase"><strong>{{ result.name }}</strong></a><br>
									<small class="text-muted">{{ result.region }}, {{ result.district }}</small>
								</div>
                                <div class="col-sm-3">
									<small class="text-muted text-capfirst">{{ result.school_type }}</small><br>
									<small class="text-muted">{{ result.code }}</small>
								</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="text-muted">National rank</span>: <span class="lead text-muted"><strong>{{ result.national_rank }}</strong></span><br>
                                <span class="text-muted">Pass</span>:
                                <span class="lead">
									<span ng-class="{
										'text-success': result.percentage_pass >= 60, 
										'text-warning': result.percentage_pass >= 40 && result.percentage_pass < 60,
										'text-danger': result.percentage_pass < 40 }">
										<strong>{{ result.percentage_pass | number:0 }} %</strong>
									</span>
									<i class="glyphicon" ng-class="{
										'glyphicon-arrow-up text-success': result.percentage_pass_change > 0,
										'glyphicon-arrow-down text-danger': result.percentage_pass_change < 0,
										'glyphicon-arrow-right text-muted': result.percentage_pass_change == 0
										}">
									</i>
								</span><br>
								<span class="text-muted">Candidates</span>: <span class="lead text-muted"><strong>{{ result.candidates }}</strong></span>
                            </div>
                            <div class="col-sm-6">
                                <span ng-if="result.ownership != undefined"><span class="text-muted">Owner</span>: <strong class="text-capitalize">{{ result.ownership }}</strong><br></span>
                                <span ng-if="result.number_enrolled != undefined && result.number_teaching_staff != undefined">
									<span class="text-muted">Pupils-teacher ratio</span>
									<span class="lead" ng-class="{
										'text-success': result.number_enrolled/result.number_teaching_staff <= 50,
										'text-danger': result.number_enrolled/result.number_teaching_staff > 50 }">
										<strong>{{ result.number_enrolled/result.number_teaching_staff | number:0 }}</strong>
									</span><br>
                                </span>
								<span ng-if="result.number_enrolled != undefined"><span class="text-muted">Students</span>: <span class="lead text-muted"><strong>{{ result.number_enrolled }}</strong></span><br></span>
								<span ng-if="result.number_teaching_staff != undefined"><span class="text-muted">Teachers</span>: <span class="lead text-muted"><strong>{{ result.number_teaching_staff }}</strong></span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
        
</div>
