<div class="row">

    <div class="col-sm-4 map-list-container">
        <div class="left-panel">
            <div class="panel panel-default">
                <div class="panel-heading"><strong class="panel-title" translate>Filter</strong></div>
                <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-lg-9">
                            <input type="search" id="search" class="form-control input-sm" ng-model="where.search" placeholder="Enter text">
                        </div>
                        <button class="col-lg-2 btn btn-info btn-sm" ng-click="updateMap()" translate><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3" for="region"><small translate>Type</small></label>
                        <div class="col-lg-9">
                            <select class="form-control input-sm" id="type" ng-model="where.school_type" ng-change="updateMap()"
                                    ng-options="type for type in schoolTypes">
                                <option value="">all</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3" for="region"><small translate>Region</small></label>
                        <div class="col-lg-9">
                            <select class="form-control input-sm" id="region" ng-model="where.region" ng-change="clearDistrict();updateMap()"
                                    ng-options="r for r in regions">
                                <option value="">all</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3" for="district" translate><small translate>District</small></label>
                        <div class="col-lg-9">
                            <select class="form-control input-sm" id="district" ng-model="where.district" ng-change="updateMap()"
                                ng-options="d for d in districts">
                          <option value="">all</option>
                        </select>
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3" for="maxResults" translate><small>Ownership</small></label>
                        <div class="col-lg-9">
                            <select class="form-control input-sm" id="ownership" ng-model="where.ownership" ng-change="updateMap()"
                                    ng-options="o for o in ownerships">
                                <option value="">all</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-default btn-xs" ng-click="download()">
                        <i class="glyphicon glyphicon-download"></i> <span translate>Download</span>
                    </button>
                    <button class="btn btn-warning btn-xs" ng-click="reset()">
                        <i class="glyphicon glyphicon-refresh"></i> <span translate>Refresh</span>
                    </button>
                    <small ng-if="count >= 0" class="text-muted" translate>{{ count }} schools found</small>
                </form>
              </div>
            </div>
            <div ng-repeat="result in results.slice(1,100)" class="results-item" ng-mouseover="openPopup(result._id)" ng-mouseout="closePopup(result._id)">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-sm-9"><a ng-href="#/schools/{{ result._id }}"><strong>{{ result.name }}</strong></a></div>
                                <div class="col-sm-3"><small class="text-muted text-capfirst">{{ result.school_type }}</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 small">
                                <span class="text-muted">Code</span>: {{ result.code }}<br>
                                <span class="text-muted">National rank</span>: {{ result.national_rank }}<br>
                                <span class="text-muted">Pass</span>: {{ result.percentage_pass | number }} %
                            </div>
                            <div class="col-sm-6 small">
                                <span class="text-muted">Region</span>: {{ result.region }}<br>
                                <span class="text-muted">District</span>: {{ result.district }}<br>
                                <span class="text-muted">Ownership</span>: {{ result.ownership }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
        

    <div class="col-sm-8 map-container">
        <div id="poiMap"></div>
    </div>
</div>
