<div class="row">
      <div id="" class="">
        <form class="form-inline" role="form" style="padding: 10px">
          <div class="form-group">
              <label for="regionSelectPrimary" translate>Region</label>:
              <select id="regionSelectPrimary" ng-model="region" ng-options="v for v in regions"
                ng-change="refreshView()" class="form-control">
              </select>
          </div>
        </form>
      </div>
</div>

<div class="row">
    <div gridster="gridsterOpts">
        <ul>
            <li gridster-item="gridLayout.tiles[0]">
                <div class="tile-header" translate>Current percentage Pass</div>
                <div><small translate>(Percentage)</small></div>
                <div class="tile-number">{{ percentagePass['this']|number:2 }} %</div>
                <div><small translate>Change from previous year</small></div>
                <div>{{ percentagePass['change']|number:2 }} %</div>
            </li>
            <li gridster-item="gridLayout.tiles[1]">
                <div class="tile-header" translate>Percentage Pass previuos year</div>
                <div><small translate>(Percentage)</small></div>
                <div class="tile-number">{{ percentagePass['last']|number:2 }} %</div>
                <div><small translate>Change from previous year</small></div>
                <div>{{ percentagePass['changeLast']|number:2 }} %</div>
            </li>
            
            <li gridster-item row="gridLayout.totals.row" col="gridLayout.totals.col" size-x="gridLayout.totals.sizeX"
                    size-y="gridLayout.totals.sizeY">
               <div class="row">
                    <div class="col-sm-12">
                        <span translate>Total number of schools</span>: <strong>{{ schoolsCount| number }}</strong>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 bordered-right">
                        <h4 translate>This year</h4>
                        <div>
                            <p><small translate>Number of candidates</small>: <strong>{{ performanceTotal.candidates | number }}</strong></p>
                            <p><small translate>Number of passed candidates</small>: <strong>{{ performanceTotal.numberPass | number }}</strong></p>
                            <hr>
                            <p>
                                <small translate>No. of school with more than 10% improvement</small><br>
                                <strong>{{ improvedThan.current.count }}</strong>
                                <span class="text-muted">/ {{ improvedThan.current.percent| number:2 }}%</span>
                            </p>
                            <hr>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h4 translate>Last year</h4>
                        <div>
                            <p><small translate>Number of candidates</small>: <strong>{{ performanceTotal.candidatesLast |number }}</strong></p>
                            <p><small translate>Number of passed candidates</small>: <strong>{{ performanceTotal.numberPassLast |number }}</strong></p>
                            <hr>
                            <p>
                                <small translate>No. of school with more than 10% improvement</small><br>
                                <strong>{{ improvedThan.last.count }}</strong>
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 10px">
                    <div class="col-lg-12">
                        <form role="from" class="form-inline">
                            <div class="form-group">
                                <small>
                                    <label>Schools with </small></label>
                                    <select id="passGoalCampratorSelect" class="form-control" ng-model="passGoalComparator"
                                            ng-options="item.label for item in numberComparators track by item.value" ng-change="onGoalUpdated(passGoalLimit, passGoalComparator)">
                                    </select>
                                    <select id="passGoalLimitSelect" class="form-control" ng-model="passGoalLimit"
                                            ng-options="item for item in passGoalLimits" ng-change="onGoalUpdated(passGoalLimit, passGoalComparator)">
                                    </select>
                                    % pass
                                </small>
                            </div>
                        </form>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 bordered-right">
                        <div class="container-fluid">
                            <p class="tile-info"><strong>{{ reachedGoal.percent | number:2}} %</strong></p>
                            <p>{{ reachedGoal.count | number }} Schools</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="container-fluid">
                            <p>{{ reachedGoal.last.count | number }} Schools</p>
                        </div>
                    </div>
                </div>
            </li>

            
            <li gridster-item="gridLayout.top">
                <strong>Top schools</strong>
                <div class="table-responsive" style="max-height: 95%; overflow-y: auto">
                    <table class="table table-hover table table-striped table-info">
                        <thead>
                            <tr class="success">
                                <th translate>Position</th>
                                <th class="text-justify" translate>School name</th>
                                <th class="text-right" translate><small>National rank</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="school in topSchools" class="">
                                <td>{{$index+1}}</td>
                                <td class="text-justify"><small><a ng-href="#/schools/{{ school._id }}">{{ school.name }}</a></small></td>
                                <td class="text-right">{{school.national_rank}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>

            <li gridster-item="gridLayout.report">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" translate><abbr title="Certificate of Secondary Education Examination" class="initialism">(CSEE)</abbr> PASS <small class="text-muted">(Percentage)</small></h3>
                    </div>
                    
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th translate>Before last year</th>
                                    <th translate>Last year</th>
                                    <th translate>This year</th>
                                    <th translate>Next year</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th translate>Target</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th translate>Actual</th>
                                    <td><span ng-if="percentagePass.beforeLast">{{ percentagePass.beforeLast|number:2 }} %</span></td>
                                    <td><span ng-if="percentagePass.last">{{ percentagePass.last|number:2 }} %</span></td>
                                    <td><span ng-if="percentagePass.this">{{ percentagePass.this|number:2 }} %</span></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title" translate>Secondary Enrolment (O' level) <small class="text-muted">(Number of students)</small></div>
                            </div>
                            
                            <div class="panel-body">
                                <div>
                                    <div id="ownershipEnrollmentDonutChartSc" class="donut-small"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title" translate>Secondary Enrolmnet (A' level) <small class="text-muted">(Number of students)</small></div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <th translate>Private</th>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th translate>Government</th>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title" translate>Number of schools</div>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <div id="ownershipCountDonutChartSc"  class="donut-small"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title" translate>Number of Staff</div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-bordered">
                                    <tbody>
                                        <tr>
                                            <th rowspan="{{ sumTeachingStaff.length }}" translate>Teaching</th>
                                            <th tanslate>{{ sumTeachingStaff[0].x }}</th> <td>{{ sumTeachingStaff[0].y }}</td>
                                        </tr>
                                        <tr ng-repeat="schools in sumTeachingStaff" ng-if="$index > 0">
                                            <th translate>{{ schools.x }}</th> <td>{{ schools.y }}</td>
                                        </tr>
                                        <tr>
                                            <th rowspan="2" translate>Non-Teaching</th>
                                            <th tanslate>{{ sumNonTeachingStaff[0].x }}</th> <td>{{ sumNonTeachingStaff[0].y }}</td>
                                        </tr>
                                        <tr ng-repeat="schools in sumNonTeachingStaff" ng-if="$index > 0">
                                            <th translate>{{ schools.x }}</th> <td>{{ schools.y }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
            
            <li gridster-item="item" ng-repeat="item in gridLayout.plots" class="gridster-item-chart" >
                <div class="panel panel-default plot">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{plots[$index].title | translate}}</h3>
                    </div>
                    
                    <div class="panel-body" id="{{plots[$index].id}}">
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</div>
